In [1]:
import pandas as pd
import numpy as np
import time
import re
from sklearn.model_selection import train_test_split
from sklearn.naive_bayes import GaussianNB
from sklearn.preprocessing import LabelEncoder, OneHotEncoder,LabelBinarizer

In [31]:
data = pd.read_csv("employees_dataset.csv")
data.head(3)

,degree,education,skills,working_experience,position
0,master,fudan university,c/c++ stl;c;sql;design patterns;atl com;asp.ne...,bank of china;sap;emc,dev
1,bachelor,inner mongolia university,c;design patterns;windows;system modeling;stor...,ca technologies;beijing topsec network securit...,dev
2,bachelor,shanghai university,c;git;java;python;mongodb;selenium;test automa...,tudou.com;ebaotech corporation,dev

In [32]:
#one-hot编码
data['education'] = LabelEncoder().fit_transform(data['education'])
#0表示bachelor，1表示phd，2表示master
data['degree'] = LabelEncoder().fit_transform(data['degree'])
#0表示dev，1表示manager，2表示qa
data['position'] = LabelEncoder().fit_transform(data['position'])

data['skills'] = LabelEncoder().fit_transform(data['skills'].str.split(';',expand=False))
data['working_experience'] = LabelEncoder().fit_transform(data['working_experience'].str.split(';',expand=False))

In [33]:
# Split dataset in training and test datasets
X_train, X_test = train_test_split(data, test_size=0.1, random_state=int(time.time()))

In [34]:
# Instantiate the classifier
gnb = GaussianNB()
used_features =[
     "degree",
     "education",
     "skills",
     "working_experience"
]
# Train classifier
gnb.fit(
     X_train[used_features].values,
    X_train["position"]
)
y_pred = gnb.predict(X_test[used_features])

In [35]:
# Print results
print("Number of mislabeled points out of a total {} points : {}, performance {:05.2f}%".format(
              X_test.shape[0],
              (X_test["position"] != y_pred).sum(),
              100*(1-(X_test["position"] != y_pred).sum()/X_test.shape[0])))

Number of mislabeled points out of a total 8 points : 4, performance 50.00%